body {
  background-color: #d65d18;
  color: white;
}

header {
  position: sticky;
  background-color: #fa4a0c;
  padding: 5px;
  border-radius: 10px;
  height: 80px;
  top: 0;
}
h2 {
  padding: 10px;
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}
h1 {
  padding: 10px 20px;
  font-size: 2em;
  margin: 10px auto;
  text-align: center;
  background-color: #fa4a0c;
  border-radius: 10px;
  display: flex;
  width: fit-content;
  max-width: 100%;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  background-color: #d65d18;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  background-color: #fe8e1b;
  box-shadow: 0 8px 20px rgba(214, 93, 24, 0.4);
  color: white;
}

.vip-link {
  text-decoration: none;
  background-color: #d65d18;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vip-link:hover {
  transform: scale(1.1);
  background-color: #fe8e1b;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(214, 93, 24, 0.4);
  color: white;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s ease;
  object-fit: cover;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #d65d18;
}

.section-image {
  background-image: url(content/IMG_20260710_113857.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  border-radius: 10px;
}
.top-content {
  margin-top: 80px;
  padding: 5px;
  text-align: center;
  background-color: #fa4a0c;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
